{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block login_title_content %} {% endblock login_title_content %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    
    {% block login_content %}
    
    
    {% endblock login_content %}


    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>