{% extends "login_templates/login_base.html" %}


{% block login_title_content %} Sign Up Page {% endblock login_title_content %}


{% block login_content %}

    <div class='container-fluid'>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-2 mt-3">
                    <div class='card mt-3'>     
                        <div class='card-title'>
                            <h1 class='text-center text-primary h2 mt-3'>Sign Up</h1>
                        </div>
                        <div class="card-body">
                            {% if messages %}
                                {% for message in messages %}
                                    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %}>
                                        <span>{{message}}</span>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    </div>
                                
                                {% endfor %}
                            {% endif %}
                            <form action="" method="POST" novalidate> {% csrf_token %}

                                {% for form in form %}
                                    {{form.label_tag}} {{form}} <p class='text-danger'>{{form.errors | striptags}}</p>
                                {% endfor %}

                                <button type="submit" class='btn btn-success mt-3 mb-2'>Sign Up</button>
                            </form>
                            <strong>Do have an account? </strong><a href="{% url 'login' %}" class='text-primary' style='text-decoration: none;'> Login </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock login_content %}